RewriteEngine On
RewriteRule ^captcha.png$ captcha.php [L]
RewriteRule ^wyczyscdzial/([a-zA-Z0-9.\-_:]+)$ index.php?p=wyczyscdzial&dzial_id=$1 [L]
RewriteRule ^leave/([a-zA-Z0-9.\-_:]+)$ index.php?p=leave&url=$1 [L]
RewriteRule ^user/([a-z-_0-9]+)$ index.php?p=user&id_user=$1 [L]
RewriteRule ^upload/([a-z-_0-9]+)$ index.php?p=upload&user_id=$1 [L]
RewriteRule ^nowytemat/([a-z-_0-9]+)$ index.php?p=nowytemat&forum_id=$1 [L]
RewriteRule ^nowypost/([a-z-_0-9]+)$ index.php?p=nowypost&topic_id=$1 [L]
RewriteRule ^usunplik/([a-z-_0-9]+)$ index.php?p=usunplik&file_id=$1 [L]
RewriteRule ^wiadomosci/czytaj/([a-z-_0-9]+)$ index.php?p=wiadomosci&a=czytaj&id=$1 [L]
RewriteRule ^wiadomosci/napisz/([a-z-_0-9]+)$ index.php?p=wiadomosci&a=napisz&do_id=$1 [L]
RewriteRule ^wiadomosci/([a-z-_0-9]+)$ index.php?p=wiadomosci&a=$1 [L]
RewriteRule ^napiszmaila/([a-z-_0-9]+)$ index.php?p=napiszmaila&user_id=$1 [L]
RewriteRule ^usundzial/([a-z-_0-9]+)$ index.php?p=usundzial&dzial_id=$1 [L]
RewriteRule ^przeczytane/pokaz/([a-z-_0-9]+)$ index.php?p=przeczytane&a=pokaz&rok=$1 [L]
RewriteRule ^przeczytane/([a-z-_0-9]+)$ index.php?p=przeczytane&a=$1 [L]
RewriteRule ^wiadomosci/([a-z-_0-9]+)$ index.php?p=messages&a=$1 [L]
RewriteRule ^fileedit/([a-z-_0-9]+)$ index.php?p=fileedit&id=$1 [L]
RewriteRule ^admin/usunpost/([a-z-_0-9]+)$ index.php?p=admin&a=usunpost&post_id=$1 [L]
RewriteRule ^admin/warn/([a-z-_0-9]+)$ index.php?p=admin&a=warn&user_id=$1 [L]
RewriteRule ^usuntemat/([a-z-_0-9]+)$ index.php?p=usuntemat&topic_id=$1 [L]
RewriteRule ^whitelist/([a-z-_0-9]+)$ index.php?p=whitelist&a=$1 [L]
RewriteRule ^edytuj/([a-z-_0-9]+)$ index.php?p=edit&id=$1 [L]
RewriteRule ^przenies/([a-z-_0-9]+),([a-z-_0-9]+)$ index.php?p=przenies&topic_id=$1&dzial_id=$2 [L]
RewriteRule ^przenies/([a-z-_0-9]+)$ index.php?p=przenies&topic_id=$1 [L]
RewriteRule ^temat/([a-z-_0-9]+)$ index.php?p=temat&topic_id=$1 [L]
RewriteRule ^ggnapisz/([a-z-_0-9]+)$ index.php?p=ggnapisz&gg=$1 [L]
RewriteRule ^przypnijtemat/([a-z-_0-9]+)$ index.php?p=setpin&topic_id=$1&state=1 [L]
RewriteRule ^odepnijtemat/([a-z-_0-9]+)$ index.php?p=setpin&topic_id=$1&state=0 [L]
RewriteRule ^download/([a-z-_0-9]+)$ miniscript.php?a=download&file_id=$1 [L]
RewriteRule ^zmniejsz/([a-z-_0-9]+)$ index.php?p=zmniejsz&width=$1 [L]
RewriteRule ^zamknijtemat/([a-z-_0-9]+)$ index.php?p=zamknijtemat&topic_id=$1 [L]
RewriteRule ^otworztemat/([a-z-_0-9]+)$ index.php?p=otworztemat&topic_id=$1 [L]
RewriteRule ^warnlist/([a-z-_0-9]+)$ index.php?p=warnlist&user_id=$1 [L]
RewriteRule ^usercp/([a-z-_0-9]+)$ index.php?p=usercp&panel=$1 [L]
RewriteRule ^usercp/dodajplik/chrome$ index.php?p=usercp&panel=addfile&chrome=1 [L]
RewriteRule ^sendactivation/([a-z-_0-9]+)$ index.php?p=sendactivation&how=$1 [L]
RewriteRule ^useredit/([a-z-_0-9]+)$ index.php?p=admin&a=useredit&user_id=$1 [L]
RewriteRule ^setrank/([a-z-_0-9]+)$ index.php?p=admin&a=setrank&user_id=$1 [L]
RewriteRule ^activate/([a-z-_0-9]+)$ index.php?p=activate&code=$1 [L]
RewriteRule ^rejestracja/([a-z-_0-9]+)$ index.php?p=activate&polec=$1 [L]
RewriteRule ^dzial/([a-z-_0-9]+)$ index.php?p=dzial&dzial_id=$1 [L]
RewriteRule ^admin/([a-z-_0-9]+)$ index.php?p=admin&a=$1 [L]
RewriteRule ^([a-z-_0-9]+)$ index.php?p=$1 [L]

RewriteCond %{HTTP_HOST} ^www\.staraprochownia\.pl$ [NC]
RewriteRule ^(.*)$ http://staraprochownia.pl/$1 [L,R=301]

<Files permissions.yml>
Deny from all
</Files>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1 [L]